<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="{{ url('manifest') }}">
    {%~ include 'partials/metatags.html.twig' ~%}
    <style>
        {{- asset('styles.css')|inline -}}

        {%- block style ~%}

        {%- endblock ~%}

    </style>
</head>
<body class="leading-normal tracking-normal text-white bg-primary">

<div class="h-screen pb-14">
    {#- Nav ~#}
    <div class="w-full fixed z-50 h-32 bg-gradient-to-b from-primary to-primary/0">
        <div class="container mx-auto p-6">
            <div class="w-full flex items-center justify-between">
                {#- NAVIGATION ~#}
                <div>
                    <nav>
                        <ul class="flex flex-row gap-4">
                            {% for entry in site.menus.main|sort_by_weight %}
                                <li class="pr-4"><a href="{{ url(entry.url) }}" data-weight="{{ entry.weight }}"
                                                    class="text-gris font-medium">{{ entry.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                {#- LOGO ~#}
                <div>
                    <a class="flex items-center no-underline hover:no-underline font-serif font-bold text-2xl lg:text-4xl"
                       href="{% if site.language == 'en' %}{{ url() }}{% else %}{{ url() }}{{ site.language }}{% endif %}">
                        {# {{ site.title }} #}
                        <svg width="151" height="38" viewBox="0 0 151 38" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M66.1734 11.8995V10.6191C66.1734 9.65463 65.3877 8.86682 64.4235 8.86682H62.8874C61.9209 8.86682 61.1209 9.65463 61.1209 10.6191V27.3523C61.1209 28.3164 61.9209 29.1164 62.8874 29.1164H64.4235C65.3877 29.1164 66.1734 28.3164 66.1734 27.3523V26.1005C65.289 23.9069 64.8022 21.5103 64.8022 19C64.8022 16.4897 65.289 14.0931 66.1734 11.8995Z"
                                  fill="white"/>
                            <path d="M49.9161 19.0056C48.9519 19.0056 48.1638 18.4364 48.1638 17.7354C48.1638 17.0368 48.9519 16.4794 49.9161 16.4794H51.464C52.4281 16.4794 53.2163 17.0368 53.2163 17.7354C53.2163 18.4364 52.4281 19.0056 51.464 19.0056H49.9161ZM53.9902 13.9389H47.3878C46.4233 13.9389 45.6375 14.5105 45.6375 15.2091C45.6375 15.9077 45.0662 16.4794 44.3676 16.4794C43.669 16.4794 43.1116 17.2672 43.1116 18.2316V24.8459C43.1116 25.8101 43.669 26.5982 44.3676 26.5982C45.0662 26.5982 45.6375 27.1675 45.6375 27.8661C45.6375 28.5647 46.4233 29.136 47.3878 29.136H53.9902C54.9544 29.136 55.7564 28.5647 55.7564 27.8661C55.7564 27.1675 56.3256 26.5982 57.01 26.5982C57.711 26.5982 58.2826 26.0266 58.2826 25.3398C58.2826 24.6412 57.4948 24.0696 56.5303 24.0696H54.9804C54.0159 24.0696 53.2163 24.6412 53.2163 25.3398C53.2163 26.0266 52.4281 26.5982 51.464 26.5982H49.9161C48.9519 26.5982 48.1638 25.8101 48.1638 24.8459V23.2957C48.1638 22.3315 48.9519 21.5315 49.9161 21.5315H56.5303C57.4948 21.5315 58.2826 20.7437 58.2826 19.7792V18.2316C58.2826 17.2672 57.711 16.4794 57.01 16.4794C56.3256 16.4794 55.7564 15.9077 55.7564 15.2091C55.7564 14.5105 54.9544 13.9389 53.9902 13.9389Z"
                                  fill="white"/>
                            <path d="M38.3602 13.9389H36.8123C35.8482 13.9389 35.06 14.7385 35.06 15.703V17.2506C35.06 18.2198 34.4908 19.0053 33.7898 19.0053C33.0912 19.0053 32.5338 18.2198 32.5338 17.2506V15.703C32.5338 14.7385 31.7341 13.9389 30.7673 13.9389H29.2315C28.267 13.9389 27.4674 14.7385 27.4674 15.703V17.2506C27.4674 18.2198 28.039 19.0053 28.7376 19.0053C29.4363 19.0053 30.0079 19.7911 30.0079 20.7694V22.3055C30.0079 23.2696 29.4363 24.0693 28.7376 24.0693C28.039 24.0693 27.4674 24.8574 27.4674 25.8219V27.3695C27.4674 28.3363 28.267 29.136 29.2315 29.136H30.7673C31.7341 29.136 32.5338 28.3363 32.5338 27.3695V25.8219C32.5338 24.8574 33.0912 24.0693 33.7898 24.0693C34.4908 24.0693 35.06 24.8574 35.06 25.8219V27.3695C35.06 28.3363 35.8482 29.136 36.8123 29.136H38.3602C39.3268 29.136 40.1125 28.3363 40.1125 27.3695V25.8219C40.1125 24.8574 39.5409 24.0693 38.8423 24.0693C38.1579 24.0693 37.5863 23.2696 37.5863 22.3055V20.7694C37.5863 19.7911 38.1579 19.0053 38.8423 19.0053C39.5409 19.0053 40.1125 18.2198 40.1125 17.2506V15.703C40.1125 14.7385 39.3268 13.9389 38.3602 13.9389Z"
                                  fill="white"/>
                            <path d="M22.3211 13.9389H20.785C19.8185 13.9389 19.0327 14.7385 19.0327 15.703V27.3695C19.0327 28.3363 19.8185 29.136 20.785 29.136H22.3211C23.2994 29.136 24.0852 28.3363 24.0852 27.3695V15.703C24.0852 14.7385 23.2994 13.9389 22.3211 13.9389Z"
                                  fill="white"/>
                            <path d="M7.42893 26.5955C6.46477 26.5955 5.67663 25.8077 5.67663 24.8432V18.2289C5.67663 17.2672 6.46477 16.479 7.42893 16.479H8.96266C9.94133 16.479 10.7268 17.2672 10.7268 18.2289V24.8432C10.7268 25.8077 9.94133 26.5955 8.96266 26.5955H7.42893ZM11.5031 13.9389H2.37675C1.4099 13.9389 0.624451 14.5102 0.624451 15.2064V32.4335C0.624451 33.4003 1.4099 34.2 2.37675 34.2H3.9125C4.877 34.2 5.67663 33.4003 5.67663 32.4335V30.8859C5.67663 29.9214 6.46477 29.1336 7.42893 29.1336H11.5031C12.4672 29.1336 13.2554 28.5644 13.2554 27.8634C13.2554 27.1648 13.827 26.5955 14.5256 26.5955C15.2101 26.5955 15.7817 25.8077 15.7817 24.8432V18.2289C15.7817 17.2672 15.2101 16.479 14.5256 16.479C13.827 16.479 13.2554 15.905 13.2554 15.2064C13.2554 14.5102 12.4672 13.9389 11.5031 13.9389Z"
                                  fill="white"/>
                            <path d="M22.2926 8.86667H20.7565C19.7924 8.86667 19.0042 9.4359 19.0042 10.1227C19.0042 10.3393 19.0819 10.546 19.2184 10.7247C19.5147 11.1223 20.0934 11.3906 20.7565 11.3906H22.2926C22.8335 11.3906 23.3182 11.2142 23.6402 10.9389C23.9013 10.72 24.0567 10.4332 24.0567 10.1227C24.0567 9.4359 23.2686 8.86667 22.2926 8.86667"
                                  fill="white"/>
                            <path d="M104.491 19C104.491 29.4934 95.9845 38 85.4911 38C74.9977 38 66.4911 29.4934 66.4911 19C66.4911 8.50659 74.9977 0 85.4911 0C95.9845 0 104.491 8.50659 104.491 19Z"
                                  fill="url(#paint0_radial_15_6)"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M81.5407 16.03H84.4865C85.3186 16.03 85.9918 16.7058 85.9918 17.5375V20.6093C85.9918 21.4414 85.3186 22.1212 84.4865 22.1212H81.5407C81.0172 22.1212 80.5914 22.547 80.5914 23.0749V26.0228C80.5914 26.8549 79.9138 27.5347 79.0839 27.5347H76.0143C75.1825 27.5347 74.5133 26.8549 74.5133 26.0228V22.9467C74.5133 22.119 75.1825 21.4414 76.0143 21.4414H78.9622C79.4857 21.4414 79.9138 21.0155 79.9138 20.4898V17.6592C79.9138 17.1335 79.4857 16.708 78.9622 16.708H76.0143C75.1825 16.708 74.5133 16.0322 74.5133 15.198V12.1265C74.5133 11.2922 75.1825 10.6168 76.0143 10.6168H79.0839C79.9138 10.6168 80.5914 11.2922 80.5914 12.1265V15.0806C80.5914 15.6042 81.0172 16.03 81.5407 16.03ZM94.5468 16.03H97.4969C98.3268 16.03 99.0022 16.7058 99.0022 17.5375V20.6093C99.0022 21.4414 98.3268 22.1212 97.4969 22.1212H94.5468C94.0255 22.1212 93.5996 22.547 93.5996 23.0749V26.0228C93.5996 26.8549 92.922 27.5347 92.0921 27.5347H89.0203C88.1908 27.5347 87.515 26.8549 87.515 26.0228V22.9467C87.515 22.119 88.1908 21.4414 89.0203 21.4414H91.9682C92.4961 21.4414 92.922 21.0155 92.922 20.4898V17.6592C92.922 17.1335 92.4961 16.708 91.9682 16.708H89.0203C88.1908 16.708 87.515 16.0322 87.515 15.198V12.1265C87.515 11.2922 88.1908 10.6168 89.0203 10.6168H92.0921C92.922 10.6168 93.5996 11.2922 93.5996 12.1265V15.0807C93.5996 15.6042 94.0255 16.03 94.5468 16.03Z"
                                  fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M104.913 25.8354C105.731 23.7143 106.18 21.4095 106.18 19C106.18 17.5488 106.017 16.1357 105.709 14.7778H113.3C115.5 14.7778 116.758 16.0875 116.758 18.4214V25.758C116.758 27.409 115.135 28.9538 113.404 28.9538H108.531V34.246H104.913L104.913 25.8354ZM112.224 25.3646H108.531V18.393H112.356C112.806 18.393 113.169 18.7606 113.169 19.2339V24.5C113.169 24.9712 112.723 25.3646 112.224 25.3646Z"
                                  fill="#4C6EF2"/>
                            <path d="M119.498 26.0179C119.498 27.4102 119.915 28.1871 120.895 28.6089C121.592 28.8937 122.049 28.9455 123.947 28.9455H132.742V28.6417V25.6225V25.3232H132.44H125.869C125.563 25.3232 125.339 25.3184 125.125 25.3117C124.927 25.3022 124.743 25.2951 124.515 25.2951L124.303 25.2833C123.914 25.2667 123.794 25.2619 123.662 25.222C123.551 25.1845 123.457 25.1537 123.457 24.2141V23.8088H129.112C130.502 23.8088 130.681 23.8088 131.232 23.7476C131.91 23.6441 132.402 23.432 132.758 23.1093C133.316 22.6409 133.559 21.9742 133.559 20.8837V20.1182L133.585 19.8686L133.587 18.936L133.559 18.545V17.7796C133.559 16.4042 133.13 15.6056 132.167 15.1865C131.51 14.9061 131.022 14.852 129.112 14.852H127.93H119.769H119.472V24.0727L119.498 25.2362V26.0179ZM123.457 20.309V18.592H127.193C127.506 18.592 127.748 18.5991 127.977 18.6062C128.168 18.6133 128.347 18.6204 128.549 18.6204L128.775 18.6323C129.122 18.6462 129.282 18.6533 129.385 18.6888C129.513 18.7311 129.602 18.9052 129.602 19.1102V19.7908C129.602 19.897 129.583 20.1514 129.395 20.2078C129.254 20.2549 129.091 20.309 128.549 20.309H127.193H123.457Z"
                                  fill="#4C6EF2"/>
                            <path d="M149.058 15.2604C148.387 14.9543 147.909 14.9262 145.98 14.9262H144.796H136.665H136.361V29.0173H140.32V28.716V18.7156H144.089C144.367 18.7156 144.581 18.7227 144.796 18.7298C144.993 18.7369 145.189 18.744 145.441 18.744L145.674 18.7555C146.011 18.7745 146.157 18.7816 146.289 18.8168L146.425 18.9913C146.467 19.13 146.47 19.2031 146.47 19.8275V29.0173H150.45V28.716V19.799V18.6426V17.8514C150.45 16.4615 150.021 15.6633 149.058 15.2604Z"
                                  fill="#4C6EF2"/>
                            <defs>
                                <radialGradient id="paint0_radial_15_6" cx="0" cy="0" r="1"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="translate(85.4911 19) rotate(90) scale(19)">
                                    <stop stop-color="#3B51A6"/>
                                    <stop offset="1" stop-color="#4C6EF2"/>
                                </radialGradient>
                            </defs>
                        </svg>
                    </a>
                </div>

                {#- LINKS ~#}
                <div class="flex flex-row items-center gap-4">
                    <a href="h-10 inline-block"
                       class="text-white bg-color font-bold py-2 px-4 rounded-md transition-all hover:no-underline hover:bg-colorHover">
                        support
                    </a>
                    <a class="inline-block no-underline hover:text-slate-700 dark:hover:text-slate-100 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4"
                       target="_blank" href="{{ site.socials.github }}">
                        <img src="/icons/github.svg" alt="github" class="object-contain w-[32px]"  >
                    </a>
                </div>
            </div>
        </div>
    </div>

    {%- block content ~%}
        {{ page.content }}
    {%- endblock ~%}

    <div class="w-full bg-white/10">
        <div class="container mx-auto p-6">
            <div class="w-full flex items-center justify-between">
                <div class="footerLogo">
                    <a href="{% if site.language == 'en' %}{{ url() }}{% else %}{{ url() }}{{ site.language }}{% endif %}">
                        <svg width="151" height="38" viewBox="0 0 151 38" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M66.1734 11.8995V10.6191C66.1734 9.65463 65.3877 8.86682 64.4235 8.86682H62.8874C61.9209 8.86682 61.1209 9.65463 61.1209 10.6191V27.3523C61.1209 28.3164 61.9209 29.1164 62.8874 29.1164H64.4235C65.3877 29.1164 66.1734 28.3164 66.1734 27.3523V26.1005C65.289 23.9069 64.8022 21.5103 64.8022 19C64.8022 16.4897 65.289 14.0931 66.1734 11.8995Z"
                                  fill="white"/>
                            <path d="M49.9161 19.0056C48.9519 19.0056 48.1638 18.4364 48.1638 17.7354C48.1638 17.0368 48.9519 16.4794 49.9161 16.4794H51.464C52.4281 16.4794 53.2163 17.0368 53.2163 17.7354C53.2163 18.4364 52.4281 19.0056 51.464 19.0056H49.9161ZM53.9902 13.9389H47.3878C46.4233 13.9389 45.6375 14.5105 45.6375 15.2091C45.6375 15.9077 45.0662 16.4794 44.3676 16.4794C43.669 16.4794 43.1116 17.2672 43.1116 18.2316V24.8459C43.1116 25.8101 43.669 26.5982 44.3676 26.5982C45.0662 26.5982 45.6375 27.1675 45.6375 27.8661C45.6375 28.5647 46.4233 29.136 47.3878 29.136H53.9902C54.9544 29.136 55.7564 28.5647 55.7564 27.8661C55.7564 27.1675 56.3256 26.5982 57.01 26.5982C57.711 26.5982 58.2826 26.0266 58.2826 25.3398C58.2826 24.6412 57.4948 24.0696 56.5303 24.0696H54.9804C54.0159 24.0696 53.2163 24.6412 53.2163 25.3398C53.2163 26.0266 52.4281 26.5982 51.464 26.5982H49.9161C48.9519 26.5982 48.1638 25.8101 48.1638 24.8459V23.2957C48.1638 22.3315 48.9519 21.5315 49.9161 21.5315H56.5303C57.4948 21.5315 58.2826 20.7437 58.2826 19.7792V18.2316C58.2826 17.2672 57.711 16.4794 57.01 16.4794C56.3256 16.4794 55.7564 15.9077 55.7564 15.2091C55.7564 14.5105 54.9544 13.9389 53.9902 13.9389Z"
                                  fill="white"/>
                            <path d="M38.3602 13.9389H36.8123C35.8482 13.9389 35.06 14.7385 35.06 15.703V17.2506C35.06 18.2198 34.4908 19.0053 33.7898 19.0053C33.0912 19.0053 32.5338 18.2198 32.5338 17.2506V15.703C32.5338 14.7385 31.7341 13.9389 30.7673 13.9389H29.2315C28.267 13.9389 27.4674 14.7385 27.4674 15.703V17.2506C27.4674 18.2198 28.039 19.0053 28.7376 19.0053C29.4363 19.0053 30.0079 19.7911 30.0079 20.7694V22.3055C30.0079 23.2696 29.4363 24.0693 28.7376 24.0693C28.039 24.0693 27.4674 24.8574 27.4674 25.8219V27.3695C27.4674 28.3363 28.267 29.136 29.2315 29.136H30.7673C31.7341 29.136 32.5338 28.3363 32.5338 27.3695V25.8219C32.5338 24.8574 33.0912 24.0693 33.7898 24.0693C34.4908 24.0693 35.06 24.8574 35.06 25.8219V27.3695C35.06 28.3363 35.8482 29.136 36.8123 29.136H38.3602C39.3268 29.136 40.1125 28.3363 40.1125 27.3695V25.8219C40.1125 24.8574 39.5409 24.0693 38.8423 24.0693C38.1579 24.0693 37.5863 23.2696 37.5863 22.3055V20.7694C37.5863 19.7911 38.1579 19.0053 38.8423 19.0053C39.5409 19.0053 40.1125 18.2198 40.1125 17.2506V15.703C40.1125 14.7385 39.3268 13.9389 38.3602 13.9389Z"
                                  fill="white"/>
                            <path d="M22.3211 13.9389H20.785C19.8185 13.9389 19.0327 14.7385 19.0327 15.703V27.3695C19.0327 28.3363 19.8185 29.136 20.785 29.136H22.3211C23.2994 29.136 24.0852 28.3363 24.0852 27.3695V15.703C24.0852 14.7385 23.2994 13.9389 22.3211 13.9389Z"
                                  fill="white"/>
                            <path d="M7.42893 26.5955C6.46477 26.5955 5.67663 25.8077 5.67663 24.8432V18.2289C5.67663 17.2672 6.46477 16.479 7.42893 16.479H8.96266C9.94133 16.479 10.7268 17.2672 10.7268 18.2289V24.8432C10.7268 25.8077 9.94133 26.5955 8.96266 26.5955H7.42893ZM11.5031 13.9389H2.37675C1.4099 13.9389 0.624451 14.5102 0.624451 15.2064V32.4335C0.624451 33.4003 1.4099 34.2 2.37675 34.2H3.9125C4.877 34.2 5.67663 33.4003 5.67663 32.4335V30.8859C5.67663 29.9214 6.46477 29.1336 7.42893 29.1336H11.5031C12.4672 29.1336 13.2554 28.5644 13.2554 27.8634C13.2554 27.1648 13.827 26.5955 14.5256 26.5955C15.2101 26.5955 15.7817 25.8077 15.7817 24.8432V18.2289C15.7817 17.2672 15.2101 16.479 14.5256 16.479C13.827 16.479 13.2554 15.905 13.2554 15.2064C13.2554 14.5102 12.4672 13.9389 11.5031 13.9389Z"
                                  fill="white"/>
                            <path d="M22.2926 8.86667H20.7565C19.7924 8.86667 19.0042 9.4359 19.0042 10.1227C19.0042 10.3393 19.0819 10.546 19.2184 10.7247C19.5147 11.1223 20.0934 11.3906 20.7565 11.3906H22.2926C22.8335 11.3906 23.3182 11.2142 23.6402 10.9389C23.9013 10.72 24.0567 10.4332 24.0567 10.1227C24.0567 9.4359 23.2686 8.86667 22.2926 8.86667"
                                  fill="white"/>
                            <path d="M104.491 19C104.491 29.4934 95.9845 38 85.4911 38C74.9977 38 66.4911 29.4934 66.4911 19C66.4911 8.50659 74.9977 0 85.4911 0C95.9845 0 104.491 8.50659 104.491 19Z"
                                  fill="url(#paint0_radial_15_6)"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M81.5407 16.03H84.4865C85.3186 16.03 85.9918 16.7058 85.9918 17.5375V20.6093C85.9918 21.4414 85.3186 22.1212 84.4865 22.1212H81.5407C81.0172 22.1212 80.5914 22.547 80.5914 23.0749V26.0228C80.5914 26.8549 79.9138 27.5347 79.0839 27.5347H76.0143C75.1825 27.5347 74.5133 26.8549 74.5133 26.0228V22.9467C74.5133 22.119 75.1825 21.4414 76.0143 21.4414H78.9622C79.4857 21.4414 79.9138 21.0155 79.9138 20.4898V17.6592C79.9138 17.1335 79.4857 16.708 78.9622 16.708H76.0143C75.1825 16.708 74.5133 16.0322 74.5133 15.198V12.1265C74.5133 11.2922 75.1825 10.6168 76.0143 10.6168H79.0839C79.9138 10.6168 80.5914 11.2922 80.5914 12.1265V15.0806C80.5914 15.6042 81.0172 16.03 81.5407 16.03ZM94.5468 16.03H97.4969C98.3268 16.03 99.0022 16.7058 99.0022 17.5375V20.6093C99.0022 21.4414 98.3268 22.1212 97.4969 22.1212H94.5468C94.0255 22.1212 93.5996 22.547 93.5996 23.0749V26.0228C93.5996 26.8549 92.922 27.5347 92.0921 27.5347H89.0203C88.1908 27.5347 87.515 26.8549 87.515 26.0228V22.9467C87.515 22.119 88.1908 21.4414 89.0203 21.4414H91.9682C92.4961 21.4414 92.922 21.0155 92.922 20.4898V17.6592C92.922 17.1335 92.4961 16.708 91.9682 16.708H89.0203C88.1908 16.708 87.515 16.0322 87.515 15.198V12.1265C87.515 11.2922 88.1908 10.6168 89.0203 10.6168H92.0921C92.922 10.6168 93.5996 11.2922 93.5996 12.1265V15.0807C93.5996 15.6042 94.0255 16.03 94.5468 16.03Z"
                                  fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M104.913 25.8354C105.731 23.7143 106.18 21.4095 106.18 19C106.18 17.5488 106.017 16.1357 105.709 14.7778H113.3C115.5 14.7778 116.758 16.0875 116.758 18.4214V25.758C116.758 27.409 115.135 28.9538 113.404 28.9538H108.531V34.246H104.913L104.913 25.8354ZM112.224 25.3646H108.531V18.393H112.356C112.806 18.393 113.169 18.7606 113.169 19.2339V24.5C113.169 24.9712 112.723 25.3646 112.224 25.3646Z"
                                  fill="#4C6EF2"/>
                            <path d="M119.498 26.0179C119.498 27.4102 119.915 28.1871 120.895 28.6089C121.592 28.8937 122.049 28.9455 123.947 28.9455H132.742V28.6417V25.6225V25.3232H132.44H125.869C125.563 25.3232 125.339 25.3184 125.125 25.3117C124.927 25.3022 124.743 25.2951 124.515 25.2951L124.303 25.2833C123.914 25.2667 123.794 25.2619 123.662 25.222C123.551 25.1845 123.457 25.1537 123.457 24.2141V23.8088H129.112C130.502 23.8088 130.681 23.8088 131.232 23.7476C131.91 23.6441 132.402 23.432 132.758 23.1093C133.316 22.6409 133.559 21.9742 133.559 20.8837V20.1182L133.585 19.8686L133.587 18.936L133.559 18.545V17.7796C133.559 16.4042 133.13 15.6056 132.167 15.1865C131.51 14.9061 131.022 14.852 129.112 14.852H127.93H119.769H119.472V24.0727L119.498 25.2362V26.0179ZM123.457 20.309V18.592H127.193C127.506 18.592 127.748 18.5991 127.977 18.6062C128.168 18.6133 128.347 18.6204 128.549 18.6204L128.775 18.6323C129.122 18.6462 129.282 18.6533 129.385 18.6888C129.513 18.7311 129.602 18.9052 129.602 19.1102V19.7908C129.602 19.897 129.583 20.1514 129.395 20.2078C129.254 20.2549 129.091 20.309 128.549 20.309H127.193H123.457Z"
                                  fill="#4C6EF2"/>
                            <path d="M149.058 15.2604C148.387 14.9543 147.909 14.9262 145.98 14.9262H144.796H136.665H136.361V29.0173H140.32V28.716V18.7156H144.089C144.367 18.7156 144.581 18.7227 144.796 18.7298C144.993 18.7369 145.189 18.744 145.441 18.744L145.674 18.7555C146.011 18.7745 146.157 18.7816 146.289 18.8168L146.425 18.9913C146.467 19.13 146.47 19.2031 146.47 19.8275V29.0173H150.45V28.716V19.799V18.6426V17.8514C150.45 16.4615 150.021 15.6633 149.058 15.2604Z"
                                  fill="#4C6EF2"/>
                            <defs>
                                <radialGradient id="paint0_radial_15_6" cx="0" cy="0" r="1"
                                                gradientUnits="userSpaceOnUse"
                                                gradientTransform="translate(85.4911 19) rotate(90) scale(19)">
                                    <stop stop-color="#3B51A6"/>
                                    <stop offset="1" stop-color="#4C6EF2"/>
                                </radialGradient>
                            </defs>
                        </svg>
                    </a>
                </div>
                <div class="footerNav">
                    <nav>
                        <ul class="flex flex-row gap-4">
                            {% for footer in site.menus.footer|sort_by_weight %}
                                <li><a href="{{ url(footer.url) }}"
                                       data-weight="{{ footer.weight }}">{{ footer.name }}</a></li>
                            {% endfor %}
                            <li><a class="text-slate-700 dark:text-slate-300 no-underline hover:no-underline"
                                   href="{{ cecil.url }}"
                                   target="_blank">{% trans with {'%powered_by%': 'Cecil'} %}Powered by %powered_by%{% endtrans %}</a>
                            </li>
                            <li>
                                <a class="" target="_blank" href="{{ site.socials.github }}">
                                    <img src="/icons/github.svg" alt="github" class="object-contain w-[32px]"  >
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'partials/regsw.js.twig' %}

{%- block javascript ~%}

{%- endblock ~%}

</body>
</html>
