{% extends '_default/page.html.twig' %}

            {%- block content ~%}

                <div class="intro w-full min-h-[90vh] relative bg-cover overflow-hidden flex items-center" style="">
                    <div class="cloud-1 w-[160vw] h-[150vh] bg-secondary rounded-full absolute -top-[100vh] -right-[100vw] blur-3xl opacity-50"></div>
                    <div class="cloud-1 w-[140vw] h-[140vh] bg-secondary rounded-full absolute -left-[85vw] -bottom-[80vh] blur-3xl opacity-50"></div>

                    <div class="container container-md mx-auto">
                        <div class="flex flex-row gap-16 items-center">
                            <div class="basis-3/5 flex flex-col gap-6">
                                <h1>{{ page.title|e }}</h1>
                                <time>{{ page.date|format_date('long') }}</time>
                                <p class="text-gris">{{ page.content }}</p>
                                <div>
                                    <a href=""
                                       class="text-white bg-color font-bold py-2 px-4 rounded-md transition-all hover:no-underline hover:bg-colorHover">Download</a>
                                </div>
                            </div>
                            <div class="basis-2/5">
                                {% if page.cover is defined %}{{ asset(page.cover)|resize(600)|html({alt: 'Image description'}, {responsive: true}) }}{% else %}{{ asset('pages/welcome.jpg')|resize(600)|html({alt: 'Image description'}, {responsive: true}) }}{% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {%- if page.prev is defined or page.next is defined ~%}
                    <nav>
                        <ul>
                            {%- if page.prev is defined ~%}
                                <li><a href="{{ url(page.prev) }}">{{ page.prev.title }}</a></li>
                            {%- endif ~%}
                            {%- if page.next is defined ~%}
                                <li><a href="{{ url(page.next) }}">{{ page.next.title }}</a></li>
                            {%- endif ~%}
                        </ul>
                    </nav>
                {%- endif ~%}
            {%- endblock content ~%}