<div class="projItem itemList bg-white/10 p-6 rounded-md text-left {% if project.technos is defined %}{{ project.technos|join(' ') }}{% endif %}" data-filter="{% if project.technos is defined %}{{ project.technos|join(' ') }}{% endif %}">
    <span class="cover">
        {% if project.cover is defined %}{{ asset(project.cover)|html({alt: project.title}) }}{% else %}{{ asset('pages/welcome.jpg')|html({alt: project.title}) }}{% endif %}
    </span>
    <h3 class="text-base md:text-xl font-bold py-4">{{ project.title }}</h3>
    <div class="flex flex-row items-center gap-2">
        <a class="text-white bg-color font-bold py-2 px-4 rounded-md transition-all hover:no-underline hover:bg-colorHover"
           href="{{ url(project) }}" title="{{ project.title }}">
            See project
        </a>
        <a class="inline-block no-underline hover:text-slate-700 dark:hover:text-slate-100 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4"
           target="_blank" href="{{ project.repository }}">
            <img src="/icons/github.svg" alt="github" class="object-contain w-[32px]"  >
        </a>
    </div>
</div>