{% extends '_default/page.html.twig' %}

        {%- block content ~%}
        {#- Left Col ~#}
        <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
          <h1 class="leading-tight text-center md:text-left slide-in-bottom-h1">🎉 {{ site.baseline }}</h1>
          <div class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">{{ page.content }}</div>
          <div class="flex w-full justify-center md:justify-start fade-in">
           
          </div>
         
        </div>
        {#- Right Col ~#}
        <div class="w-full xl:w-3/5 py-6 xl:py-0 overflow-y-hidden">
          
        </div>

    {#- news ~#}
    <div id="news" class="bg-darkblue dark:bg-black">
      <div class="container mx-auto flex flex-wrap flex-row">
        {%- for news in site.pages.showable|filter_by('section', 'news')|sort_by_date|slice(0, 4) ~%}
        <a class="flex-[1_1_100%] md:flex-[1_1_25%] w-64 p-6 hover:bg-gold hover:shadow-lg group{% if loop.index > 2 %} hidden md:block{% endif %}" href="{{ url(news) }}" title="{{ news.description|default() }}">
          <div class="text-slate-300 group-hover:text-blue mb-1">{{ news.date|format_date('long') }}</div>
          <div class="font-medium text-white group-hover:text-darkblue">{{ news.title }}</div>
        </a>
        {%- endfor ~%}
      </div>
    </div>

    {#- projects ~#}
    <div id="projects" class="bg-darkblue dark:bg-black">
      <div class="container mx-auto flex flex-wrap flex-row">
        {%- for projects in site.pages.showable|filter_by('section', 'projects')|sort_by_date|slice(0, 4) ~%}
        <a class="flex-[1_1_100%] md:flex-[1_1_25%] w-64 p-6 hover:bg-gold hover:shadow-lg group{% if loop.index > 2 %} hidden md:block{% endif %}" href="{{ url(projects) }}" title="{{ projects.description|default() }}">
         
          <div class="font-medium text-white group-hover:text-darkblue">{{ projects.title }}</div>
        </a>
        {%- endfor ~%}
      </div>
    </div>

        {%- endblock ~%}
