{% extends '_default/page.html.twig' %}

{%- block content ~%}
    <div class="intro w-full min-h-[90vh] relative bg-cover overflow-hidden flex items-center" style="">
        <div class="cloud-1 w-[160vw] h-[150vh] bg-secondary rounded-full absolute -top-[100vh] -right-[100vw] blur-3xl opacity-50"></div>
        <div class="cloud-1 w-[140vw] h-[140vh] bg-secondary rounded-full absolute -left-[85vw] -bottom-[80vh] blur-3xl opacity-50"></div>

        <div class="container container-md mx-auto">
            <div class="flex flex-row gap-16 items-center">
                <div class="basis-3/5 flex flex-col gap-6">
                    <h1>{{ page.title }}</h1>
                    <p class="text-gris">{{ page.content }}</p>
                    <div>
                        <a href="{{ url('about') }}"
                           class="text-white bg-color font-bold py-2 px-4 rounded-md transition-all hover:no-underline hover:bg-colorHover">More
                            informations</a>
                    </div>
                </div>
                <div class="basis-2/5 inclusion">
                    {{ asset('pages/welcome.jpg')|resize(600)|html({alt: page.title}, {responsive: true}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto px-6 py-20 text-center">
        <h2 class="text-3xl font-bold mb-10">Our latest projects</h2>
        <div class="grid grid-cols-4 gap-6">
            {%- for project in site.pages.showable|filter_by('section', 'projects')|sort_by_date|slice(0, 4) ~%}
                {% include 'partials/list-project.html.twig' with {'project': project} only %}
            {%- endfor ~%}
        </div>
    </div>

    <img src="{{ asset('img/bg-sep.jpg') }}" alt="" class="w-full h-auto">

    <div class="container mx-auto px-6 py-20 text-center">
        <h2 class="text-3xl font-bold mb-10">Our latest news</h2>
        <div class="grid grid-cols-4 gap-6">
            {%- for news in site.pages.showable|filter_by('section', 'news')|sort_by_date|slice(0, 4) ~%}
                <div class="itemList bg-white/10 p-6 rounded-md text-left">
                    <a href="{{ url(news) }}" title="{{ news.description|default() }}">
                        {% if news.cover is defined %}{{ asset(news.cover)|resize(300)|html({alt: news.title}, {responsive: true}) }}{% else %}{{ asset('pages/welcome.jpg')|resize(300)|html({alt: news.title}, {responsive: true}) }}{% endif %}
                        <img src="" alt="">
                        <h3 class="font-bold py-4">{{ news.title }}</h3>
                        <p>{{ news.date|format_date('long') }}</p>
                        <div class="flex flex-row items-center gap-2 pt-4">
                            <a href="{{ url(news) }}"
                               class="text-white bg-color font-bold py-2 px-4 rounded-md transition-all hover:no-underline hover:bg-colorHover">
                                more
                            </a>
                        </div>
                    </a>
                </div>
            {%- endfor ~%}
        </div>
    </div>

{%- endblock ~%}
